Verification System/Dados de Treinamento/rebeca1.jpeg
Verification System/Dados de Treinamento/rebeca2.jpeg
Verification System/Dados de Treinamento/rebeca3.jpeg
Verification System/test_framrate.py
Verification System/VisaoComputacionalProject.py

